html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
}

.with-word-break {
  word-break: break-word;
}

.container {
  max-width: 900px;
  padding: 1rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.tab-controls {
  text-align: center;
  margin: 2rem 0;
}

.tab-controls > .tab-btn {
  height: 108px;
  width: 108px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-container > div {
  margin: 0.75rem 0.5rem;
}

.pokemon-avatar {
  width: 100%;
  image-rendering: pixelated;
}

.scroll-btn {
  position: fixed;
  bottom: -120px;
  width: 64px;
  height: 64px;
  right: 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.scroll-btn.active {
  bottom: 25px;
}

.scroll-btn > span {
  display: block;
  transform: rotateZ(90deg);
}

.with-background {
  min-height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
